<footer class="bg-dark text-light py-4 mt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5>SnowTricks</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-light">Accueil</a>
					</li>
					<li>
						<a href="#" class="text-light">Découvrir les Tricks</a>
					</li>
					<li>
						<a href="#" class="text-light">Rejoindre la Communauté</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5>Nous suivre</h5>
				<ul class="list-unstyled d-flex">
					<li>
						<a href="#" class="text-light mx-3">
							<i class="fab fa-facebook-square fa-3x"></i>
						</a>
					</li>
					<li>
						<a href="#" class="text-light mx-3">
							<i class="fab fa-instagram fa-3x"></i>
						</a>
					</li>
					<li>
						<a href="#" class="text-light mx-3">
							<i class="fab fa-twitter fa-3x"></i>
						</a>
					</li>
				</ul>

			</div>
			<div class="col-md-4">
				<h5>Informations légales</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-light">Mentions légales</a>
					</li>
					<li>
						<a href="#" class="text-light">Politique de confidentialité</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="text-center py-3">
			© 2024 SnowTricks. Tous droits réservés.
		</div>
	</div>
</footer>
