{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

  <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de</h1>
  {{ form_start(passForm) }}
    {{ form_row(passForm.password) }}
    <button type="submit" class="btn btn-primary btn-block mt-3" >Réinitialiser</button>
  {{ form_end(passForm) }}

{% endblock %}
