{% extends 'base.html.twig' %}

{% block title %}Reset Password Request{% endblock %}

{% block body %}

  <h1 class="h3 mb-3 font-weight-normal">Email associate to your account</h1>
  {{ form_start(requestPassForm) }}
    {{ form_row(requestPassForm.email) }}
    <button type="submit" class="btn btn-primary btn-block mt-3" >Ask for reset</button>
  {{ form_end(requestPassForm) }}

{% endblock %}
