{% extends 'base.html.twig' %}

{% block title %}Reset Password Request{% endblock %}

{% block body %}

  <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de</h1>
  {{ form_start(requestPassForm) }}
    {{ form_row(requestPassForm.email) }}
    <button type="submit" class="btn btn-lg btn-primary btn-block" >Réinitialiser</button>
  {{ form_end(requestPassForm) }}

{% endblock %}
