<body>
  <h1>Activer votre compte</h1>
  <p>Bonjour {{ user.firstname }},</p>
  <p>Bienvenue dans la communauté Snowtricks. Pour activer votre compote merci de cliquer sur le lien ci-dessous: </p>
  <p><a href="{{ absolute_url(path('app_verify_email', {token: token})) }}">cliquer ici!</a></p>
  {# <p> This link will expire in 24 hours.</p> #}
</body>
