<body>
  <p>Hi, {{ user.firstname }} {{ user.lastname }}</p>
  <p> You requested a reset of your password, please clic on the link below:</p>
  <a href="{{ url }}">{{ url }}</a>
  <p> If you did not request this, please ignore this email and your password will remain unchanged.</p>
  <p> Regards, </p>
  <p> The team of SnowTricks</p>
</body>
