<body>
  <p>Bonjour, {{ user.firstname }} {{ user.lastname }}</p>
  <p> Vous avez demandé une réinitialisation de mot de passe, merci de cliquer sur le lien ci-dessous:</p>
  <a href="{{ url }}">{{ url }}</a>
  <p> Si vous n'avez pas effectué cette demande,merci d'ignorer ce email, votre mot de passe restera inchangé.</p>
  <p> Cordialement, </p>
  <p> L'Equipe de SnowTricks</p>
</body>
