<div>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.url) }}
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-remove">Supprimer</button>
    </div>
</div>
