{% extends 'base.html.twig' %}

{% block title %}New Trick
{% endblock %}

{% block body %}
	<section class="container margin-12vh">
		<h1>Créer un nouveau Trick</h1>

		{{ include('trick/_form.html.twig') }}

	</section>
{% endblock %}
